<div (window:resize)="onResize()" class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
        <button id="sidenav-button" mat-icon-button (click)="toggleSideNav(sidenav)">
            <mat-icon>menu</mat-icon>
        </button>
        <div>
            <button mat-mini-fab color="accent" (click)="deleteNote()"
                aria-label="Example icon button with a delete icon">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-mini-fab color="accent" (click)="addNote()"
                aria-label="Example icon button with a plus icon">
                <mat-icon>note_add</mat-icon>
            </button>
            <mat-form-field id="search-button">
                <input matInput type="search" [(ngModel)]="search" (input)="searchNote(search)">
                <button mat-button matSuffix aria-label="search">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [hasBackdrop]="backdrop">
        <mat-sidenav #sidenav [mode]="mode" [fixedInViewport]="false" [opened]="sideNavOpen">
            <mat-nav-list>
                <a mat-list-item class="mat-list-item-focus" routerLink="" routerLinkActive="active-list-item" *ngFor="let i of searchNotes" (click)="showNote(i)">{{i.title.length > 30 ? (i.title.substring(0,30) + '...') : i.title.substring(0,30)}}
                    <mat-divider [inset]="true"></mat-divider>
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
                <div class="timestamp">
                    Last Updated : {{contentTimeStamp}}
                </div>
                <textarea autofocus rows="50" [(ngModel)]="contentModel" (input)="changeNote()">

                </textarea>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>